/* TAGS */
textarea{ resize: none;}





/* LOGIN */
.loginhead{
      background-color: #39B54A;
      color:white;
      font-size: 18px;
      text-align:center;
      padding: 4px;
      width: 100%;
}
.loginbody{
    padding: 10px;
    height: auto;
    width: auto;
    overflow:hidden;
    background-color:#ffffff;
    border:1px solid #E0E0E0;
    margin-top: 0px;
}
.buttonLogin{
    background-color: #FFAA42;
    font-weight: bold;
    color: #FFFFFF;
}
.buttonLogin:hover{
    background-color: #F68725;
    font-weight: bold;

    color: #FFFFFF;
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}
.imglogin{
  height: 100%
}

.inputLogin:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
}



.margintop_10{
  margin-top: 10px;
}
.margintop_5{ /* for input form */
  margin-top: 5px;
}

.uppercase{
  text-transform: uppercase;
}




/* MODALS */
.modalhead{
  background-color: #81E3E2;
  color: #FFFFFF !important;
  font-size: 18px;
  text-align:center;
  padding: 4px;
  font-weight: bold;
  text-transform: uppercase;
}


/* FOOTER */
footer{
  background-color: #F3F3F3;
  width: 100%;
  padding: 20px;
  text-align: center;
  font-weight: bold;


  position: absolute;
  bottom: 0;
}
